{% extends 'base.html' %} {% block content %}
{% for slide in sliders %}
<div class="container-fluid page-header py-5" style="background: url({{slide.img.url}}) ">
  <div class="container text-center py-5">
    {% for title in titles %}
    <h1 class="display-2 text-white mb-4 animated slideInDown">{{ title.aboutSubTitle }}</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">Pages</a></li>
        <li class="breadcrumb-item" aria-current="page">{{ title.aboutSubTitle }}</li>
      </ol>
    </nav>
    {% endfor %}
  </div>
</div>
{% endfor %}
<!-- Page Header End -->

<!-- Fact Start -->
<div class="container-fluid bg-secondary py-5">
  <div class="container">
    <div class="row">
      {% for fact in facts %}
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">{{ fact.numb }}</h1>
          <h5 class="text-white mt-1">{{ fact.content }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Fact End -->

<!-- About Start -->
<div id="about" class="container-fluid project py-5 my-5">
  <div class="container pt-5">
    <div class="row g-5">
      <div class="project-item col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        {% for about in abouts %}
        <div class="project-img h-100 position-relative">
          <img src="{{ about.img.url }}" class="about-img img-fluid w-75 rounded" alt="about-img"
            style="margin-bottom: 25%" />
          <div class="position-absolute w-75" style="top: 28%; left: 25%">
            <img src="{{ about.img2.url }}" class="about-img img-fluid w-100 rounded" alt="about-img" />
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-primary">{{ title.aboutSubTitle }}</h5>
        <h1 class="mb-4">{{ title.aboutTitle }}</h1>
        {% for about in abouts %}
        {% filter linebreaks %}
        <p class="mb-4">{{ about.content | linebreaks }}</p>
        {%endfilter%}
        <a href="/about" class="btn  rounded-pill px-5 py-3 text-dark">More Details</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- About End -->


{% endblock content %}
